body {
	font-family: Helvetica;
	background-color: lightgray;
}

nav {
	background-color: lightgreen;
	color: white;

	position: -webkit-sticky;
    position: sticky;
    top: 0;
}

nav a {
	text-decoration: none;
}
nav a:visited {
	color: white;
}