@keyframes animate {
    0% {
        background-position: 0;
    }
    100% {
        background-position: 1360px;
    }
}
@-moz-keyframes animate {
    0% {
        background-position: 0;
    }
    100% {
        background-position: 1360px;
    }
}
@-webkit-keyframes animate {
    0% {
        background-position: 0;
    }
    100% {
        background-position: 1360px;
    }
}
@-o-keyframes animate {
    0% {
        background-position: 0;
    }
    100% {
        background-position: 1360px;
    }
}
@-ms-keyframes animate {
    0% {
        background-position: 0;
    }
    100% {
        background-position: 1360px;
    }
}
@keyframes animate-reverse {
    0% {
        background-position: 1360px;
    }
    100% {
        background-position: 0;
    }
}
@-moz-keyframes animate-reverse {
    0% {
        background-position: 1360px;
    }
    100% {
        background-position: 0;
    }
}
@-webkit-keyframes animate-reverse {
    0% {
        background-position: 1360px;
    }
    100% {
        background-position: 0;
    }
}
@-o-keyframes animate-reverse {
    0% {
        background-position: 1360px;
    }
    100% {
        background-position: 0;
    }
}
@-ms-keyframes animate-reverse {
    0% {
        background-position: 1360px;
    }
    100% {
        background-position: 0;
    }
}


/* wave */
div.wave:before {
    content: '';
    width: 100%;
    height: 142px;
    background: url(../assets/wave.png);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.4;
    animation: animate-reverse 10s linear infinite;
}
div.wave {
    position: absolute;
    width: 100%;
    height: 142px;
    bottom: 0;
    left: 0;
    background-image: url(../assets/wave.png);
    animation: animate 10s linear infinite;
}
div.wave:after {
    content: '';
    width: 100%;
    height: 142px;
    background: url(../assets/wave.png);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.6;
    animation-delay: -5s;
    animation: animate 20s linear infinite;
}