body {
	font-family: Arial;
    background-color: #F7F7FF;
    
    overflow-x: hidden;

    margin: 0;
    padding: 0;
}

a:link, a:visited, a:hover, a:active {
    color: #FE5F55;
    font-weight: 600;
    text-decoration: none !important;
}

.badge {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}

/* Header */
header > h1 {
    margin: 0;

    width: 100vw;
    height: 100vh;

    background-image: url(../assets/spacenebula.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    color: #F7F7FF;
    font-weight: 800;
    font-size: 15vh;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

section {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 5%;
    width: 100%;
}

section:nth-child(odd) {
    background-color: #FE5F55;
    color: #F7F7FF;
}

section:nth-child(odd) > a:link,
section:nth-child(odd) > a:visited,
section:nth-child(odd) > a:hover,
section:nth-child(odd) > a:active {
    color: #d451e0;
    font-weight: 600;
    text-decoration: none !important;
}

footer {
    padding: 1%;
    text-align: center;
}