.icon-container {
    display: flex;
    justify-content: center;
}

.icon {
    max-width: 25vw;
    height: auto;
}

.big {
    font-weight: 800;
    font-size: 250%;
}

.social {
    display: inline-block;
}
